.ghostnavbox{
  fill:none;
  opacity:1;
  stroke-width:2;
  stroke:grey
}

.ghostline {
  opacity: 1;
  stroke-width: 2;
  stroke: gray;
}
.navbox{
  fill:none;
  opacity:1;
  stroke-width:2;
  stroke:black
}
.axisline{
  stroke: rgba(127, 127, 127, 0.50);
  stroke-width:1;
}

.timeline{
  padding:0px;
  background-color: rgb(255, 255, 255);
}
.event{
  fill:black;
}

.phasetext{
  font-size: 25px;
}
.modal-backdrop.am-fade {
  opacity: 0.05;
  transition: opacity 3s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: 1.0;
    }
  }
  &.ng-leave {
    opacity: 1.0;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

/*.phase{
  stroke: rgba(0, 0, 0, 0.50);
  stroke-width:1px
}

.phase1{
  @extend .phase;
  fill: hsla(170, 50%, 10%, 0.90);

}
.phase2{
  @extend .phase;
  fill: hsla(305, 50%, 10%, 0.90)
}
.phase3{@extend .phase;
  fill: hsla(20, 50%, 10%, 0.90)
}
.phase4{@extend .phase;
  fill: hsla(210, 50%, 10%, 0.90)
}
.phase5{@extend .phase;
  fill: hsla(71, 50%, 10%, 0.90)
}
.phase6{@extend .phase;
  fill: hsla(0, 50%, 10%, 0.90)
}
.phase7{@extend .phase;
  fill: hsla(206, 50%, 10%, 0.90)
}*/