.ghostnavbox{
  fill:none;
  opacity:1;
  stroke-width:2;
  stroke:grey
}

.ghostline {
  opacity: 1;
  stroke-width: 2;
  stroke: gray;
}
.navbox{
  fill:none;
  opacity:1;
  stroke-width:2;
  stroke:black
}
.axisline{
  stroke: rgba(127, 127, 127, 0.50);
  stroke-width:1;
}

.timeline{
  padding:0px;
  background-color: rgb(255, 255, 255);
}
.event{
  fill:black;
}

.phasetext{
  font-size: 22px;
}
.modal-backdrop.am-fade {
  opacity: 0.05;
  transition: opacity 3s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: 1.0;
    }
  }
  &.ng-leave {
    opacity: 1.0;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}