.incbutton{
  height:18px;
  width:18px;
  padding:0;
  top:0;
  right:0;
  line-height: 100%;
  font-weight: bold;
  float: right;
}

.clist{
  list-style-type:none;
  padding:0px;
  margin:0px;
  margin-left: auto;
  margin-right: auto;
}
.specul{
  padding-top:1px;
  padding-left:2px;
  list-style-type: none;
  border-style:solid;
  border-width:0px;

}

.section_class_raid{

}

.div_raid {
  vertical-align: top;
}

.ul_raid {
  list-style-type: none;
  margin:2px;
  padding:0;
}
.li_player_box {
}
.li_player_name {
  width: 120px;
}

.ul_cd_List{
  list-style-type: none;
  margin:0;
  padding:0;
}
.li_cd_Entry{
  position:relative;
  margin:2px;
  padding:0;
  display: inline-block;
}
.li_cd_Icon{
  width:35px;
  height:35px;
}

.redborder{
  outline: solid #ff0000
}

.redbg {
  position: relative;
}
.redbg:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 0, 0, 0.51);
}

.modal {
  background: rgba(204, 204, 204, 0.51);
  height: 100%;
  opacity: 1;
  position: absolute; top: 0; left: 0;
  width: 100%;
  z-index: 999;
}

$imgsize: 30px;

.raidicon {
  width: $imgsize;
  height: $imgsize;
  margin-right: 1px;
  margin-left: 1px;
}

input[type=radio]:checked + img{
  outline:15px solid rgba(255, 92, 0, 0.50);
  outline-offset:-15px;
}