<div class="form-inline">
    <!-- add to raid -->
    <h5>Add Player</h5>
    <div class="form-group panel panel-default" style="padding:4px; width:100%">
        <!-- player name -->
        <input type="text" ng-model="user.name" class="form-control" style="height:30px" placeholder="Player name (optional)">
        <!-- player class -->
        <div class="btn-group" ng-model="user.classid" bs-radio-group style="padding:0px 0px 0px 10px">
            <label class="btn btn-default" ng-repeat="wowclass in user.classes" style="padding: 0px 0px">
                <input type="radio"
                       class="btn btn-default"
                       value="{{$index}}"
                        ng-click="user.classChange($index)">
                <img class="raidicon"
                     ng-class="(user.classid === null) ? 'nofilter' : ''"
                     ng-attr-src="img/classicons/{{wowclass.icon}}"
                     title={{wowclass.name}}
                     bs-tooltip>
                </img>
            </label>
        </div>
        <!-- player spec -->
        <div style="padding:0px 6px; display: inline-block">
            <div ng-repeat="wowclass in user.classes" class="btn-group" ng-model="user.specid" bs-radio-group>
                <label class="btn btn-default" ng-repeat="wowspec in wowclass.specs" style="padding: 0px 0px" ng-show="$parent.$index === user.classid">
                    <input type="radio"
                           class="btn btn-default"
                           value="{{$index}}">
                    <img class="raidicon"
                         ng-attr-src="img/specicons/{{user.getSpecById(wowspec).wowicon}}"
                         title={{user.getSpecById(wowspec).name}}
                         bs-tooltip>
                    </img>
                </label>
            </div>
        </div>
        <button class="btn btn-default glyphicon glyphicon-plus" style="float: right" ng-click="user.addPlayer()" title="Add player" bs-tooltip></button>
    </div>
    <!-- current raid -->
    <h5>Raid List</h5>
    <div ng-repeat="player in user.raid.players track by $index" class="form-group panel panel-default" style="padding:4px; width:100%">
        <!-- player name -->
        <input type="text" ng-model="player.name" class="form-control" style="height:30px" >
        <!-- player class -->
        <div class="btn-group" ng-model="player.class.name" style="padding:0px 0px 0px 10px">
            <label class="btn btn-default" style="padding: 0px 0px">
                <img class="raidicon"
                     ng-attr-src="img/classicons/{{player.class.icon}}"
                     title={{player.class.name}}
                     bs-tooltip>
                </img>
            </label>
            </button>
        </div>
        <!-- player spec -->
        <div style="padding:0px 6px; display: inline-block">
            <div class="btn-group" ng-model="player.spec.id" bs-radio-group>
                <label class="btn btn-default" ng-repeat="wowspec in player.class.specs" style="padding: 0px 0px">
                    <input type="radio"
                           class="btn btn-default"
                           value="{{wowspec}}"
                           ng-click="user.specChange($parent.$index,wowspec)">
                    <img class="raidicon"
                         ng-attr-src="img/specicons/{{user.getSpecById(wowspec).wowicon}}"
                         title={{user.getSpecById(wowspec).name}}
                            bs-tooltip>
                    </img>
                </label>
            </div>
        </div>
        <button class="btn btn-default glyphicon glyphicon-minus" style="float: right" ng-click="user.removePlayer($index)" title="Remove player" bs-tooltip></button>
    </div>
</div>